<ul class="horizontal-list">
  {% for item in include.collection %}

    <li class="card">
      {% if item.img %}
      <img src="{{ item.img  }}" alt="{{ item.img_alt  }}">
      {% else  %}
      <img src="/assets/images/alt-img-small.jpg" alt="{{ item.img_alt  }}">
      {% endif %}
      <a href="{{ item.url }}">
        <span class="header">
          {{ item.title }}

          {% if item.highlight %}
            <mark>{{ item.highlight }}</mark>
          {% endif %}

        </span>

        <hr />

        {% if item.desc != false %}
        <p class="body">
          {{ item.desc }}
        </p>
        {% endif %}
      </a>
    </li>
    {% if include.limit and forloop.index >= include.limit %}
      {% break %}
    {% endif %}
  {% endfor %}
</ul>
