<p class="post-date text-bold">
  {% if page.author %}
    <span class="text-upcase">{{ page.author }}</span> / 
  {% endif %}
  {% if page.date %}
    <span class="text-upcase">{{ page.date | date: "%B %Y"}}</span>
  {% endif %}

{% if site.theme_config.show_reading_time == true %}
  {% capture words %}
  {{ content | number_of_words | minus: 180 }}
  {% endcapture %}
  {% unless words contains '-' %}
  {{ words | strip | prepend: '(' | append: ' Words, ' }}
  {{ words | plus: 180 | divided_by: 180 | append: ' Minutes)' }}
  {% endunless %}
{% endif %}
</p>

{% if site.theme_config.show_tags == true %}
  <div class="">
    {% for tag in page.tags %}
    <span class="tag">{{ tag }}</span>
    {% endfor %}
  </div>
{% endif %}

<!-- Relevant links, like github and other language versions -->
<ul class="related-links">
  {% if page.repo %}
    <li title="Go to repo">
      <a href="{{page.repo}}" target="_blank" style="text-decoration: none;"><i class="fa fa-github"></i></a>
    </li>
  {% endif %}
  {% if page.es_version %}
    <li title="Spanish Version">
      <a href="{{page.url | replace: "-en", "-es"}}">
        🇪🇸
      </a>  
    </li>
  {% endif %}
  {% if page.en_version %}
    <li title = "English Version"> 
      <a href="{{page.url | replace: "-es", "-en"}}">
        🇬🇧 
      </a>
    </li>
  {% endif %}
</ul>