{{ $page := .Page }}
{{ with .Title }}
<h2 class="page-title">{{ . }}</h2>
{{ end }}
{{ if $page }}
  {{ $currentLang := $page.Params.language | default "en" }}
  {{ $hasEsVersion := $page.Params.es_version }}
  {{ $hasEnVersion := $page.Params.en_version }}
  
  {{ if or $hasEsVersion $hasEnVersion }}
    <div class="language-links">
      {{ if and (eq $currentLang "en") $hasEsVersion }}
        {{ $blogSection := $page.Site.GetPage "/blog" }}
        {{ $altPage := false }}
        {{ range $blogSection.Pages }}
          {{ if and (eq .Title $page.Title) (eq (.Params.language | default "en") "es") }}
            {{ $altPage = . }}
          {{ end }}
        {{ end }}
        {{ if $altPage }}
          <a href="{{ $altPage.Permalink }}" class="language-link" title="Versión en español">
            <span class="flag-icon">🇪🇸</span>
          </a>
        {{ end }}
      {{ else if and (eq $currentLang "es") $hasEnVersion }}
        {{ $blogSection := $page.Site.GetPage "/blog" }}
        {{ $altPage := false }}
        {{ range $blogSection.Pages }}
          {{ if and (eq .Title $page.Title) (eq (.Params.language | default "en") "en") }}
            {{ $altPage = . }}
          {{ end }}
        {{ end }}
        {{ if $altPage }}
          <a href="{{ $altPage.Permalink }}" class="language-link" title="English version">
            <span class="flag-icon">🇬🇧</span>
          </a>
        {{ end }}
      {{ end }}
    </div>
  {{ end }}
{{ end }}
