{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "main" }}
{{ partial "header_table.html" (dict "ctx" . "Title" .Site.Title "ShowSubtitle" true) }}

{{ if eq .Site.Params.show_description true }}
  <p>{{ .Site.Params.description | safeHTML }}</p>
{{ end }}

{{ .Content }}

{{ if .Site.Params.show_projects }}
  <a href="{{ "projects/" | relURL }}" style="text-decoration: none;"><h2>{{ .Site.Params.home.title_projects }}</h2></a>
  <p>Here are some of my most remarkable projects. You can see a full list <a href="{{ "projects/" | relURL }}">here</a>!</p>
  {{ with .Site.Data.projects.highlight }}
    {{ partial "project_card_table.html" (dict "item" . "external" true) }}
  {{ end }}
  {{ $projects := .Site.Data.projects.entries }}
  {{ $n := .Site.Params.home.n_projects | default 3 }}
  {{ range first $n $projects }}
    {{ partial "project_card_table.html" (dict "item" . "external" (hasPrefix .url "http")) }}
  {{ end }}
  <small><a href="{{ "projects/" | relURL }}">More projects!</a></small>
{{ end }}

{{ if .Site.Params.show_blog }}
  <a href="{{ "blog/" | relURL }}" style="text-decoration: none;"><h2>{{ .Site.Params.home.title_blog }}</h2></a>
  {{ $blog := .Site.GetPage "/blog" }}
  {{ $posts := where (where $blog.Pages "Draft" false) "Params.language" "en" }}
  {{ $posts = $posts | first (.Site.Params.home.n_blogs | default 3) }}
  {{ if $posts }}
    <ul>
      {{ range $posts }}
        <li>
          <strong><a href="{{ .Permalink }}">{{ .Title }}</a></strong>
          <span class="meta"> {{ .Date.Format .Site.Params.date_format }}</span>
          {{ if .Description }}<br><small>{{ .Description }}</small>{{ else }}<br><small>{{ .Summary | plainify | truncate 120 }}</small>{{ end }}
        </li>
      {{ end }}
    </ul>
    <small><a href="{{ "blog/" | relURL }}">More entries!</a></small>
  {{ else }}
    <small>No entries for now!</small>
  {{ end }}
{{ end }}

{{ partial "footer.html" . }}
{{ end }}
